@model DoAnTotNghiep.ViewModels.RegisterOTPViewModel
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_LayoutLogin";
}


<!-- Register Card -->
<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a href="@Url.Action("Index", "Home")" class="app-brand-link gap-2">
                <span class="app-brand-logo demo branch">
                    <img src="~/Image/logo.png" alt="logo" />
                </span>
                <span class="app-brand-text demo text-body fw-bolder">VExchangeHome</span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Xác thực tài khoản</h4>

        <form id="formAuthentication" class="mb-3" asp-action="ForgotOTP" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    @ViewBag.Message
                }
            </div>
            <div class="mb-3">
                <label asp-for="OTP" class="form-label">Mã OTP</label>
                <div class="input-timer">
                    <input class="form-control" asp-for="OTP" placeholder="000 - 000" />
                    <span class="timer text-danger">_ : _</span>
                </div>
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>
            <p class="text-center"><small>Không nhận được? </small><a href="@Url.Action("ForgotResendOTP")" class="fw-bold" id="resend"><small>Gửi lại email</small></a></p>
            <button type="submit" class="btn btn-primary d-grid w-100">Tiếp tục</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Auth/timer.js"></script>
    <script>
        $(document).ready(function(){
            timer('.timer', @(ViewData["timer"] == null ? Html.Raw("120") : Html.Raw(ViewData["timer"])))
        })
    </script>
}