@model DoAnTotNghiep.ViewModels.UpdatePasswordViewModel
@{
    ViewData["Title"] = "Cập nhật mật khẩu";
    Layout = "_LayoutLogin";
}


<!-- Register Card -->
<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a href="@Url.Action("Index", "Home")" class="app-brand-link gap-2">
                <span class="app-brand-logo demo branch">
                    <img src="~/Image/logo.png" alt="logo" />
                </span>
                <span class="app-brand-text demo text-body fw-bolder">VExchangeHome</span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Cập nhật mật khẩu mới</h4>

        <form id="formAuthentication" class="mb-3" asp-action="RefreshPassword" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    @ViewBag.Message
                }
            </div>
            <div class="mb-3 form-password-toggle">
                <label class="form-label" asp-for="Password">Mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password"
                           asp-for="Password"
                           class="form-control"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-password-toggle">
                <label class="form-label" asp-for="ConfirmPassword">Xác nhận mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password"
                           class="form-control"
                           asp-for="ConfirmPassword"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100">Hoàn tất</button>
        </form>
    </div>
</div>