@model DoAnTotNghiep.Entity.House

@{
    ViewData["Title"] = "Chi tiết nhà";
    Layout = "_Layout";
}

<div class="Banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/Demo/1713577385683372.jpg" class="d-block w-100" alt="Step 1">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1713900527240594.jpg" class="d-block w-100" alt="Step 2">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1713577385683372.jpg" class="d-block w-100" alt="Step 3">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1714621217557489.jpg" class="d-block w-100" alt="Step 4">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="frame">
    <div class="left">
        <div class="option-control">
            <div class="tab-pane tab-active"><a href="#tab1">Thông tin chung</a></div>
            <div class="tab-pane"><a href="#tab2">Giới thiệu</a></div>
            <div class="tab-pane"><a href="#tab3">Tiện nghi</a></div>
            <div class="tab-pane"><a href="#tab4">Quy tắc</a></div>
            <div class="tab-pane"><a href="#tab5">Địa chỉ</a></div>
            <div class="tab-pane"><a href="#tab6">Đánh giá</a></div>
        </div>
        <div class="content">
            <section id="tab1">
                <div class="general">
                    <div>Nhà của Hiếu</div>
                    <div>
                        <div class="rating"><span>4.3</span><i class="fa-solid fa-star"></i></div>
                        <div class="point"><strong>200p/ngày</strong></div>
                    </div>
                </div>
                <div class="">
                    <div><i class="fa-solid fa-house"></i><span>Căn hộ</span></div>
                    <div><i class="fa-solid fa-bed"></i><span>2</span></div>
                    <div><i class="fa-solid fa-users"></i><span>4</span></div>
                    <div><i class="fa-solid fa-bath"></i><span>1</span></div>
                    <div><i class="fa-solid fa-maximize"></i><span>100 &#13217;</span></div>
                </div>
            </section>

            <section id="tab2">
                <h5>Giới thiệu</h5>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p>
            </section>

            <section id="tab3">
                <h5>Tiện nghi</h5>
                <div>
                    <div class="item-show">
                        @for (var item = 0; item < 8; item++)
                        {
                            <div class="item-frame item-checked">
                                <i class="fa-solid fa-wifi"></i>
                                <span>Wifi</span>
                            </div>
                        }
                    </div>
                    <div class="item-hide">
                        <a href="#utilities-hide" data-bs-toggle="collapse" onclick="changeName(this)" class="show-more">Xem thêm</a>

                        <div id="utilities-hide" class="collapse">
                            <div>
                                @for (var item = 0; item < 20; item++)
                                {
                                    <div class="item-frame">
                                        <i class="fa-solid fa-wifi"></i>
                                        <span>Wifi</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="tab4">
                <h5>Quy tắc</h5>
                <div>
                    <div class="item-show">
                        @for (var item = 0; item < 8; item++)
                        {
                            <div class="item-frame">
                                <i class="fa-solid fa-wifi"></i>
                                <span>Wifi</span>
                            </div>
                        }
                    </div>
                </div>
            </section>

            <section id="tab5">
                <h5>Địa chỉ</h5>
                <div class="frame-map">
                    <div id="myMap" class="BingMap" onload="GetMap();"></div>
                </div>
            </section>

            <section id="tab6">
                <span class="heading">Người dung đánh giá</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>Dựa trên 251 đánh giá từ người dùng.</p>
                <hr style="border:3px solid #f1f1f1">

                <div class="rate-overview">
                    <div class="line-star">
                        <div class="side">
                            <div>5 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>150</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>4 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>63</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>3 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>15</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>2 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>6</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>1 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>20</div>
                        </div>
                    </div>
                </div>

                <div class="frame-list-comment">
                    @for (var item = 0; item < 6; item++)
                    {
                        <div class="comment">
                            <div class="comment-head">
                                <div class="avt"><img src="~/Image/logo.png" alt="avt-user" /></div>
                                <div class="info">
                                    <h5><span class="name">Phạm Minh Hiếu</span><span class="rating"><span>4.3</span><i class="fa-solid fa-star"></i></span></h5>
                                    <div class="date"><span>20/02/2023</span></div>
                                </div>
                            </div>
                            <div class="comment-content">
                                <p class="comment-show">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                                <p>
                                    <span id="comment-@item" class="collapse">
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                                        versions of Lorem Ipsum.
                                    </span>
                                    <a href="#comment-@item" data-bs-toggle="collapse" onclick="changeName(this)" class="show-more">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <div class="user-info">
                <div class="avt"><img src="~/Image/logo.png" alt="avt-user" /></div>
                <div class="info">
                    <h5><span class="name">Phạm Minh Hiếu</span></h5>
                    <div class="rating"><span>4.3</span><i class="fa-solid fa-star"></i></div>
                </div>
            </div>
            <div class="validate">
                <div>
                    <i class="fa-solid fa-house"></i><span>2 căn nhà</span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i><span class="text-success">Đã xác thực</span>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i><span class="text-success">Đã xác thực</span>
                </div>
            </div>
        </div>
        <div class="bot">
            <div><a href="@Url.Action("Messages", "Member", new {connection = ViewData["Id"]})" class="btn btn-primary">Liên hệ</a></div>
            <div><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#messageRequestModal">Yêu cầu trao đổi</button></div>
            <div><button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#reportModal">Báo cáo</button></div>
        </div>
    </div>
</div>


<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-danger fw-semibold branch">Báo cáo người dùng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="refreshLoginForm()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="userReport">Tên người dùng</label>
                        <input type="text" class="form-control" name="userReport" id="userReport" placeholder="Phạm Minh Hiếu" />
                    </div>
                    <div class="mb-3">
                        <label for="houseReport">Căn nhà báo cáo</label>
                        <select class="form-control" id="houseReport" name="houseReport">
                            <option value="12">Nhà 1</option>
                            <option value="13">Nhà 2</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="contentReport">Lí do báo cáo</label>
                        <textarea class="form-control" id="contentReport" name="contentReport" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="fileReport">Tệp đính kèm <i class="fa-solid fa-file"></i></label>
                        <input class="form-control" type="file" name="fileReport" id="fileReport" />
                    </div>
                </form>
                <button type="button" class="btn btn-danger">Báo cáo</button>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="messageRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="messageRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="my-modal-title">
                        <h3 class="house-title">Tạo yêu cầu</h3>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="">Chọn nhà muốn trao đổi</label>
                        <div class="house-request" onclick="showListHouseModal(1)">
                            <div class="frame-empty">+</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Phương thức trao đổi</label>
                        <div class="contain-option">
                            <div class="form-check">
                                <label class="form-check-label" for="swap-option-1">
                                    Trao đổi bằng điểm
                                </label>
                                <input class="form-check-input" type="radio" name="swap-option" id="swap-option-1" value="swap-option-1" checked>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="swap-option-2">
                                    Trao đổi bằng nhà
                                </label>
                                <input class="form-check-input" type="radio" name="swap-option" id="swap-option-2" value="swap-option-2">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Chọn nhà của bạn để trao đổi</label>
                        <div class="house-request" onclick="showListHouseModal(1)">
                            <div class="frame-empty">+</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Chọn thời gian đến</label>
                        <div class="">
                            <input type="text" name="requestdaterange" id="requestdaterange" value="01/01/2018 - 01/15/2018" class="form-control" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="">Điểm bạn cần phải trả</label>
                        <div class="contain-price">
                            1400 Point/ngày
                        </div>
                    </div>

                    <div class=""><button class="btn btn-primary" type="button">Tạo yêu cầu</button></div>
                </div>
            </div>
            <div class="modal-content list-house modal-content-hide">
                <div class="modal-header">
                    <span class="back-step" onclick="HTMLInputElement(0)"> <i class="fa-solid fa-angle-left"></i> </span>
                    <h3 class="house-title">Chọn nhà</h3>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <div class="house-card selected">
                            <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                            <div class="house-img-container">
                                <h2>Nhà của Hiếu</h2>
                                <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                <div class="list-attribute">
                                    <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                    <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                    <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                </div>
                                <p>
                                    <button class="item-button">
                                        <span class="label-show">200point/night</span>
                                        <span class="label-hide">Chọn</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        @for (var item = 0; item < 5; item++)
                        {
                            <div class="house-card">
                                <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                                <div class="house-img-container">
                                    <h2>Nhà của Hiếu</h2>
                                    <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                    <div class="list-attribute">
                                        <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                        <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                        <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                    </div>
                                    <p>
                                        <button class="item-button">
                                            <span class="label-show">200point/night</span>
                                            <span class="label-hide">Chọn</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class=""><button class="btn btn-primary" type="button">Xác nhận</button></div>
                </div>
            </div>
            <div class="modal-content list-house modal-content-hide">
                <div class="modal-header">
                    <span class="back-step" onclick="hideListHouseModal(1)"> <i class="fa-solid fa-angle-left"></i> </span>
                    <h3 class="house-title">Chọn nhà</h3>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <div class="house-card selected">
                            <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                            <div class="house-img-container">
                                <h2>Nhà của Hiếu</h2>
                                <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                <div class="list-attribute">
                                    <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                    <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                    <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                </div>
                                <p>
                                    <button class="item-button">
                                        <span class="label-show">200point/night</span>
                                        <span class="label-hide">Chọn</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        @for (var item = 0; item < 5; item++)
                        {
                            <div class="house-card">
                                <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                                <div class="house-img-container">
                                    <h2>Nhà của Hiếu</h2>
                                    <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                    <div class="list-attribute">
                                        <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                        <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                        <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                    </div>
                                    <p>
                                        <button class="item-button">
                                            <span class="label-show">200point/night</span>
                                            <span class="label-hide">Chọn</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class=""><button class="btn btn-primary" type="button">Xác nhận</button></div>
                </div>
            </div>
        </div>
    </div>



@section Scripts{
    <script src="~/js/House/detail.js" type="text/javascript"></script>
    <!--BingMap-->
    <script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Asf_PRzBpUJVcb9lcAg48BLOuAuaBItg4ZzCqaNQaSIFReqieYA02KBcovVD08Jk'
        async defer></script>

    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap');

            //Add your post map load code here.
        }
    </script>
}