@model DoAnTotNghiep.Entity.AdminReport

@{
    ViewData["Title"] = "Lịch sử giao dịch";
    Layout = "_LayoutMember";
}


@*
    + modal lịch sử nạp tiền
            => lọc theo time
            => số tiền + mã giao dịch
    + tab hiển thị giao dịch đã trao đổi

    + chart -> việc trao đổi theo thời gian
            => lọc theo nhà
            => gồm 2 đường:
                => tiền trả
                => tiền vào
                => có chi tiết => modal việc trao đổi
*@


<div class="house">
    <div class="house-head">
        <h2>Thống kê giao dịch</h2>
        <button class="btn btn-primary" onclick="renderTransactionForm()">
            Nạp thêm điểm
        </button>
    </div>
    <div class="nav nav-tabs mb-2">
        <div class="nav-link active">Thống kê tài khoản</div>
        <div class="nav-link">Trao đổi</div>
        <div class="nav-link">Xu hướng</div>
    </div>
    <div class="list-house" id="content-render">
    </div>
</div>

@section Scripts{
    <script src="~/js/Transaction/create.js" type="text/javascript"></script>
}