@model DoAnTotNghiep.ViewModels.AuthHouseViewModel
@using DoAnTotNghiep.Enum;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Danh sách nhà";
    Layout = "_LayoutMember";
}

<div class="house">
    <div class="house-head">
        <h2>Danh sách nhà</h2>
        <button class="btn  btn-primary" id="houseModalToggleClick" data-bs-target="#houseModalToggle" data-bs-toggle="modal">Thêm mới</button>
    </div>
    <div class="list-house" id="list-house">
        @foreach(var item in Model.Houses)
        {
            @(await Html.PartialAsync("~/Views/Houses/HouseItem.cshtml", item))
        }
    </div>
</div>

<script type="text/javascript">
    var listHouse = @Html.Raw(Json.Serialize(Model.Houses));
</script>


@section createHouse{
    @(await Html.PartialAsync("../PartialView/_FormCreateHouse.cshtml", Model.OptionHouses))

    <button type="button" id="confirmClick" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmPopup" hidden></button>

    <div class="modal fade" id="confirmPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmPopupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-danger" id="confirmContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="confirmDeleteHouse(false)">Hủy</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="confirmDeleteHouse(true)">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div class="notification" id="toastPlacement">
        <div class="toast-header"><strong class="me-auto" id="notification-head"></strong></div>
        <div class="toast-body" id="notification-body"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            initSelect();
            getDataCity();
        })
    </script>
    <script src="~/js/House/delete.js" type="text/javascript"></script>
    <script src="~/js/House/edit.js" type="text/javascript"></script>
}

@section houseListRequest{
    <label display data-bs-target="#requestHouseModalToggle" id="requestHouseModalToggleClick" data-bs-toggle="modal"></label>
    <div class="modal fade" id="requestHouseModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="requestHouseModalToggleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="my-modal-title">
                        <h3 class="house-title">Danh sách yêu cầu</h3>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="requesthouseModalToggleClose" onclick="refreshHouseModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="list">
                        @for(var item = 0; item < 7; item++)
                        {
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="user">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
                                            <div class="name">Phạm Minh Hiếu</div>
                                        </div>
                                        <span class="status">Chờ xác nhận</span>
                                    </div>
                                    <div class="col-md-7">
                                        <img src="~/Image/logo.png" class="img-fluid rounded-start" alt="hình ảnh nhà">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body">
                                            <div class="body-head">
                                                <h5 class="card-title">Nhà 1</h5>
                                                <div>
                                                    <div class="point"><span>Thông tin</span><i class="fa-solid fa-circle-info"></i></div>
                                                    <div class="rating"><span>4.3</span><i class="fa-solid fa-star"></i></div>
                                                </div>
                                            </div>
                                            <div class="request-info">
                                                <span class="label">Phương thức: </span>
                                                <span class="value">Trao đổi bằng nhà</span>
                                            </div>
                                            <div class="request-info">
                                                <span class="label">Địa điểm: </span>
                                                <span class="value">165 Trương Định, kp2, p5,......</span>
                                            </div>
                                            <div class="request-info request-time">
                                                <span class="label">Thời gian: </span>
                                                <span class="value">22/02/2023 - 03/03/2023</span>
                                            </div>
                                            <div class="request-info request-price">
                                                <span class="label">Điểm bạn phải trả: </span>
                                                <span class="value">1200 Point</span>
                                            </div>
                                            <p class="card-control">
                                                <button type="button" class="btn  btn-primary">Liên hệ</button>
                                                <button type="button" class="btn  btn-success">Chấp nhận</button>
                                                <button type="button" class="btn  btn-danger">Từ chối</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}