@model DoAnTotNghiep.Entity.AdminReport

@{
    ViewData["Title"] = "Tin nhắn";
    Layout = "_LayoutMember";
}


@*
    Chỉnh lại css
    Gồm có:
        + Danh sách user bên trái
        + Danh sách tin nhắn bên phải
        + 10 người dùng
        + request 10 tin nhắn cho user gần nhất nhắn -> array
        + croll lên request 10 tin nhắn
        + thêm tải hình ảnh
        + tooltip -> request + tải hình ảnh
        + modal tạo request
*@


<div class="Messages">
    <div class="list-user">
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user active">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user new-message">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
        <div class="user">
            <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
            <div class="name">Phạm Minh Hiếu</div>
        </div>
    </div>
    <div class="tab-message">
        <div class="top-tab-message">
            <div class="user-name">Phạm Minh Hiếu</div>
            <div class="request">
                <label class=" position-relative">
                    <i class="fa-solid fa-bullhorn"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        !
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </label>
            </div>
        </div>

        <div class="list-message">
            @for(var item = 0; item < 2; item++)
            {
                <div class="other user-chat">
                    <div class="chat-head">
                        <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
                        <div class="name">Phạm Minh Hiếu</div>
                    </div>
                    <div class="message-frame">
                        <div class="chat"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div>
                        <div class="chat"><span>Ayo bạn ơi!!!</span></div>
                        <div class="chat"><span>Đổi nhà hong?</span></div>
                    </div>
                </div>

                <div class="user-chat">
                    <div class="chat-head">
                        <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
                        <div class="name">Phạm Minh Hiếu</div>
                    </div>
                    <div class="message-frame">
                        <div class="chat"><span>Hong nha bạn ơi</span></div>
                    </div>
                </div>

                <div class="other user-chat">
                    <div class="chat-head">
                        <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
                        <div class="name">Phạm Minh Hiếu</div>
                    </div>
                    <div class="message-frame">
                        <div class="chat img"><img src="~/Image/logo.png" alt="Hình ảnh" /></div>
                    </div>
                </div>

                <div class="user-chat">
                    <div class="chat-head">
                        <div class="avt"><img src="~/Image/logo.png" alt="avatar" /></div>
                        <div class="name">Phạm Minh Hiếu</div>
                    </div>
                    <div class="message-frame">
                        <div class="chat"><span>Chê!</span></div>
                    </div>
                </div>
            }
        </div>

        <div class="bot-tab-message">
            <div class="tooltip-control dropup">
                <button type="button" class="control-label" data-bs-toggle="dropdown"><i class="fa-solid fa-plus"></i></button>
                <div class="control-frame dropdown-menu">
                    <div class="request dropdown-item" data-bs-toggle="modal" data-bs-target="#messageRequestModal">Tạo yêu cầu</div>
                    <div class="dropdown-item"><label for="image-send">Thêm ảnh</label><input type="file" name="image-send" id="image-send" hidden /></div>
                </div>
            </div>

            <div class="frame-control">
                <textarea rows="1" maxlength="500" class="form-control" name="input-message" id="input-message" placeholder="Tin nhắn"></textarea>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

