@model List<CircleRequestViewModel>
@using DoAnTotNghiep.Enum
@{
    ViewData["Title"] = "Gợi ý trao đổi";
    Layout = "_LayoutMember";
}

<div class="house">
    <div class="house-head">
        <h2>Danh sách gợi ý trao đổi xoay vòng</h2>
    </div>
    <div class="nav nav-tabs mb-2">
        <div class="nav-link active" onclick="tabContent(null, this)">Tất cả</div>
        @foreach (var item in StatusCircleRequestStr.getStatus())
        {
            <div class="nav-link" onclick="tabContent('.status-request-@item', this)">@StatusCircleRequestStr.getStatus(item)</div>
        }
    </div>
    <div class="list-house">
        @foreach (var item in Model)
        {
            @(await Html.PartialAsync("~/Views/Request/_CircleRequestDetail.cshtml", item))
        }
    </div>
</div>
@section membersInCircleSwap{
    <script src="~/js/WaitingRequest/index.js" type="text/javascript"></script>
    <script src="~/js/WaitingRequest/delete.js" type="text/javascript"></script>
    <script src="~/js/WaitingRequest/updateStatus.js" type="text/javascript"></script>
    <script src="~/js/WaitingRating/index.js" type="text/javascript"></script>
    <button type="button" id="confirmClick" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmPopup" hidden></button>
    <div class="modal fade" id="confirmPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmPopupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-danger" id="confirmContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="confirmDeleteHouse(false)">Hủy</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="confirmDeleteHouse(true)">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
}