html {
  font-size: 14px;
}

main {
    background-color: #f5f5f9;
}
.MicrosoftMap{
    bottom: 0;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Navigate*/
.nav-app {
    padding: 12px 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.nav-left{
    display:flex;
    align-items: center;
}

.lg-device > .lg-device-control{
    display: flex;
    flex-flow: row;
}

.lg-device > .lg-device-control > .turn-off {
    display: none;
}

.lg-device > .lg-device-control > form {
    margin-right: 12px;
}

.lg-device > .lg-device-control > form > input{
    min-width: 250px;
}

.sm-device{
    display: none;
}

.sm-device > .menu-tab{
    font-size: 28px;
    margin-right: 6px;
}

@media (max-width: 1200px){
    .sm-device {
        display: block;
    }
    .lg-device {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #43597188;
        height: 100%;
        width: 0;
        overflow: hidden;
        justify-content: end;
        transition: 0.5s;
    }

    .lg-device > .lg-device-control > .turn-off {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        left: -20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f5f5f9;
    }
    .lg-device > .lg-device-control > .turn-off > div{
        padding: 6px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
    }
    .lg-device > .lg-device-control {
        height: 100%;
        width: 380px;
        flex-flow: column;
        position: relative;
        background-color: white;
        background-image: url("../Image/background-explore.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .lg-device > .lg-device-control > form{
        margin-right: unset;
        position: absolute;
        top: 50%;
        left: 12px;
        right: 12px;
    }
    .lg-device > .lg-device-control > form > input{
        min-width: unset;
    }
    .lg-device > .lg-device-control > .control{
        margin-top: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        position: absolute;
        bottom: 30px;
        left: 12px;
        right: 12px;
    }
    .lg-device > .lg-device-control > .control > .btn-outline-primary{
        background-color: white;
    }
}

@media (max-width: 400px){
    .lg-device > .lg-device-control {
        width: 300px;
    }
}

img.logo {
    width: 150px;
    height: auto;
}

.group-banner{
    position: relative;
    display: flex;
    justify-content: center;
}
.group-banner img.banner {
    opacity: 0.8;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
.group-banner > .about{
    position: absolute;
    top: 250px;
    padding: 50px;
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
    background: white;
}

.group-banner > .about > .card{
    border-radius: 16px;
    margin: 0 6px;
    border: 2px inset var(--bs-primary);
}

@keyframes border-run {
    from {
        border: 2px inset var(--bs-primary);
    }

    to {
        border: 2px outset white;
    }
}

.group-banner > .about > .card .card-img-overlay{
    display: flex;
    flex-flow: column;
    justify-content: end;
}
.group-banner > .about > .card .card-text,
.group-banner > .about > .card .card-title{
    text-align: center;
}

.group-banner > .about > .card .card-text{
    font-size: 1.5rem;
    font-weight: 400;
}
.group-banner > .about > .card .card-title{
    font-size: 2.75rem;
}
.group-banner > .about > .card .card-text:last-child{
    text-align: end;
    font-size: 2rem;
}

.group-banner > .about img{
    opacity: 0.3;
    width: 300px;
    height: 250px;
}

@media (max-width: 1200px){
    .group-banner img.banner{
        height: 300px;
    }
    .group-banner > .about img {
        width: 240px;
        height: 200px;
    }
    .group-banner > .about {
        top: 200px;
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .group-banner img.banner {
        height: 270px;
    }
    .group-banner > .about img {
        width: 180px;
        height: 150px;
    }
    .group-banner > .about > .card .card-text{
        font-size: 1rem;
    }
    .group-banner > .about > .card .card-title{
        font-size: 2rem;
    }
    .group-banner > .about > .card .card-text:last-child{
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .group-banner > .about {
        padding: 25px;
    }
}


@media (max-width: 700px) {
    .group-banner img.banner {
        height: 220px;
    }

    .group-banner > .about img {
        width: 150px;
        height: 125px;
    }
    .group-banner > .about > .card .card-text {
        font-size: 0.875rem;
    }

    .group-banner > .about > .card .card-title {
        font-size: 1.75rem;
    }

    .group-banner > .about > .card .card-text:last-child {
        font-size: 1.25rem;
    }
    .group-banner > .about {
        top: 150px;
    }
}
@media (max-width: 600px) {
    .group-banner img.banner {
        height: 200px;
    }

    .group-banner > .about img {
        width: 120px;
        height: 100px;
    }

    .group-banner > .about > .card .card-text {
        font-size: 0.75rem;
        margin-bottom: 0;
    }

    .group-banner > .about > .card .card-title {
        font-size: 1.5rem;
    }

    .group-banner > .about > .card .card-text:last-child {
        font-size: 1rem;
    }

    .group-banner > .about {
        top: 130px;
    }
}


@media (max-width: 500px) {
    .group-banner img.banner {
        height: 180px;
    }

    .group-banner > .about {
        display: none;
    }
}
/*
.branch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}*/
.branch img{
    width: 120px;
}
#forgot{
    cursor: pointer;
}

.modal-content form {
    margin-top: 24px;
}

.authorize .avt img,
.Banner > .row > .column > img {
    width: 100%;
    height: 100%;
}

.frame_1 .list img,
.frame_2 img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.user .avt img,
#requestHouseModalToggle .user .avt img,
.tab-message .user-chat .avt img,
.list-user .user a > .avt img,
.infomation-details-frame .avt img,
.tab-left > .infomation > .avt > img,
.frame > .right > .top > .user-info > .avt img,
.comment > .comment-head > .avt > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.rating i{
    color: orange;
}
i.fa-solid.fa-bell{
    color: #e5c262;
    font-size: 24px;
}

#changePWDModal .modal-content form {
    margin-top: 0;
}
.tab-message .user-chat .chat img{
    width: 80%;
    height: auto;
}
/*.carousel-item{
    background: var(--bs-gray-600);
    padding: 24px;
}*/
.Banner img{
    max-height: 500px;
}
.frame_3 .carousel-item img {
    max-width: 500px;
    height: 500px;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
}

.picture-added .picture-frame img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.select2 {
    width: 100% !important;
}
.select2 .selection {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2 > .selection > span.select2-selection {
    border: unset;
}



.picture-added{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin: 24px 0;
}
.picture-added .picture-frame{
    border: 1px dashed var(--bs-gray-800);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-gray-400);
    border-radius: 12px;
}
.picture-added .picture-frame.picture-frame-added{
    border: 1px solid var(--bs-light);
    background: #e2f0ff;
    position: relative;
}
.picture-added .picture-frame.picture-frame-added button{
    position: absolute;
    right: 12px;
    top: 6px;
    width: 24px;
}
.modal .btn-close:hover,
.modal .btn-close:focus,
.modal .btn-close:active {
    opacity: 1;
    outline: none;
    transform: translate(20px, -20px);
}
.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url(''data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}
.modal .btn-close {
    background-color: #fff;
    border-radius: 0.5rem;
    opacity: 1;
    padding: 0.635rem;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-primary-rgb), 0.4);
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}
.picture-frame > label{
    color: var(--bs-primary);
    font-size: 24px;
    cursor: pointer;
}

.notification {
    position: fixed;
    background: white;
    right: 32px;
    top: 150px;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-primary-rgb), 0.1);
    min-width: 350px;
    display: none;
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}

.authorize{
    display: flex;
    gap: 24px;
    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

.authorize .avt{
    height: 50px;
    width: 50px;
    border: 1px solid #00000011;
    border-radius: 50%;
    overflow: hidden;
}
@media (max-width: 800px){

    .authorize {
        padding-left: unset;
        padding-right: 12px;
        gap: 12px;
        font-size: 16px;
    }
    .authorize  .avt{
        width: 40px;
        height: 40px;
    }
}

.dropdown-menu > .alert-frame{
    max-height: 400px;
    overflow: auto;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar{
    width: 5px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-track{
    background: rgba(161, 172, 184, 0.4);
    border-radius: 10px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-thumb{
    background: #1b6ec2;
    border-radius: 10px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-thumb:hover{
    background: #1861ac;
}
.dropdown-menu > .alert-frame > .dropdown-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.dropdown-menu > .alert-frame > .dropdown-item > .content{
    width: 70%;
    white-space: normal;
}
.dropdown-menu > .alert-frame > .dropdown-item > .content .time{
    display: block;
}
.dropdown-menu > .alert-frame .status{
    color: #1861ac;
}
.dropdown-menu > .alert-frame .status.seen{
    display: none;
}


.authorize {
    display: flex;
    gap: 24px;
    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

    .authorize .avt {
        height: 50px;
        width: 50px;
        border: 1px solid #00000011;
        border-radius: 50%;
        overflow: hidden;
    }

@media (max-width: 800px) {

    .authorize {
        padding-left: unset;
        padding-right: 12px;
        gap: 12px;
        font-size: 16px;
    }

        .authorize .avt {
            width: 40px;
            height: 40px;
        }
}

.dropdown-menu {
    width: 350px;
}

    .dropdown-menu > .filter,
    .dropdown-menu > .title {
        padding: 6px 12px;
    }

    .dropdown-menu > .filter {
        display: flex;
        gap: 12px;
        align-items: center;
    }
.dropdown-item .time{
    text-align: end;
}

.notification {
    position: fixed;
    background: white;
    right: 32px;
    top: 150px;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-primary-rgb), 0.1);
    min-width: 350px;
    display: none;
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}
.house {
    display: flex;
    flex-flow: column;
    padding: 24px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(161, 172, 184, 0.12);
}

.house-head {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(161, 172, 184, 0.4);
    justify-content: space-between;
    margin-bottom: 24px;
}

    .house-head > button {
        align-self: center;
    }

.list-house {
    max-height: 100%;
    overflow: auto;
}

.card {
    box-shadow: 0 0.125rem 0.375rem rgba(161, 172, 184, 0.2);
    margin-right: 12px;
}

    .card .row {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card.status-2 .row,
    .card.status-1 .row,
    .card.status-0 .row {
        border-left: 5px solid var(--bs-success);
        position: relative;
    }

    .card.status-2 .row:before,
    .card.status-1 .row:before,
    .card.status-0 .row:before {
        content: "Đang hoạt động";
        padding: 12px;
        color: white;
        position: absolute;
        top: 0;
        left: 0px;
        font-size: large;
        background: var(--bs-success);
    }

    .card.status-1 .row {
        border-left: 5px solid var(--bs-warning);
    }

    .card.status-1 .row:before {
        content: "Chờ kiểm duyệt";
        background: var(--bs-warning);
    }

    .card.status-2 .row {
        border-left: 5px solid var(--bs-gray-500);
    }

        .card.status-2 .row:before {
            content: "Đang trao đổi";
            background: var(--bs-gray-500);
        }

.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-detail {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    font-size: 20px;
}

    .body-detail > .house-attr div {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin: 6px 0;
    }

    .body-detail .alert-swap span {
        font-size: 10px;
    }

    .body-detail .alert-swap {
        margin-top: 12px;
    }

        .body-detail .alert-swap label {
            cursor: pointer;
        }

#tag_chats .alert-frame .dropdown-item .content > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.dropdown-menu .tab-attr > div a {
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    color: #1b6ec2;
    border-radius: 18px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.dropdown-menu .tab-attr:hover {
    border-right: 5px solid #1b6ec2;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu .tab-attr:hover div a {
    color: white;
    background: #1b6ec2;
}

.house-result .house-card,
.house-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.house-result .house-card,
.house-card {
    position: relative;
}
.house-result .house-card img,
.house-card img{
    height: 250px;
    object-fit: cover;
}
    .house-result .house-card .finding,
.house-card .finding {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        color: var(--bs-success);
        font-size: x-large;
        padding: 6px;
    }
    .house-card:hover {
        box-shadow: 0 4px 8px 0 rgba(var(--bs-primary-rgb), 1);
    }

    .list .house-card.selected {
        box-shadow: 0 4px 8px 0 rgba(var(--bs-success-rgb), 1);
    }

    .list .house-card:hover .item-button {
        background: var(--bs-primary);
    }

    .list .house-card.selected .item-button {
        background: var(--bs-success);
    }

.house-img-container {
    padding: 0 16px;
}

    .house-img-container .title {
        color: grey;
    }

        .house-img-container .title .checked {
            color: orange;
        }

    .house-img-container .attribute {
        display: flex;
        align-items: center;
    }

        .house-img-container .attribute i {
            margin-right: 24px;
            font-size: 18px;
        }

    .house-img-container .list-attribute {
        display: flex;
        gap: 12px;
    }

        .house-img-container .list-attribute .attribute i,
        .house-img-container .list-attribute .attribute span {
            margin-right: 6px;
        }

    .house-img-container .item-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: var(--bs-primary);
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin-bottom: 12px;
    }

.house-img-container .item-button:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.5);
}

.house-img-container .item-button .label-hide {
    display: none;
}

.house-img-container .item-button:hover .label-hide {
    display: inline-block;
}
.house-img-container .item-button:hover .label-show {
    display: none;
}


#messageRequestModal .modal-body .house-request .house-card p {
    font-size: medium;
}

.d-flex.col-12 > .request-info img{
    height: 250px;
}

.contain-issue {
    padding: 6px;
    border-radius: 12px;
    color: white;
}

#tag_notification .dropdown-menu .alert-frame .content > div{
    display: flex;
    flex-flow: column;
}
#tag_notification .dropdown-menu .alert-frame .content > div > span:first-child{
    font-weight: 700;
}
#tag_notification .dropdown-menu .alert-frame .content > div > span:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#transactionModalToggle #renderQRCode .data{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
    #transactionModalToggle #renderQRCode .data img{
        width: 200px;
        height: 200px;
    }
    #transactionModalToggle #renderQRCode .data div:last-child {
        text-align: center;
    }
    #transactionModalToggle #renderQRCode .data div #qr-timer{
        color: red;
        font-size: large;
        font-weight: 500;
    }
    #renderQRCode {
        padding: 12px;
    }
#renderQRCode .instruction{
    margin-top: 24px;
}
#renderQRCode .instruction .logo{
    margin: 0 12px;
}
#transactionModalToggle .mb-3 > label {
    font-weight: 700;
}

#transactionModalToggle .zaloPay-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 24px;
    padding: 24px;
}
#transactionModalToggle .zaloPay-notification div i {
    font-size: 120px;
    color: var(--bs-success);
}
