html {
    font-size: 14px;
}

main {
    background-color: #f5f5f9;
}

.MicrosoftMap {
    bottom: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*Navigate*/
.nav-app {
    padding: 12px 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.nav-left {
    display: flex;
    align-items: center;
}

.lg-device > .lg-device-control {
    display: flex;
    flex-flow: row;
}

    .lg-device > .lg-device-control > .turn-off {
        display: none;
    }

    .lg-device > .lg-device-control > #container-explore {
        margin-right: 12px;
        position: relative;
    }
#explore-location-result{
    position: absolute;
    top: 38px;
    left: 0px;
}
.item-suggest:hover{
    cursor: pointer;
    color: var(--bs-primary);
}
#explore-location-result > div.dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 2px);
}
.lg-device > .lg-device-control > #container-explore > input {
    min-width: 250px;
}

.sm-device {
    display: none;
}

    .sm-device > .menu-tab {
        font-size: 28px;
        margin-right: 6px;
    }

@media (max-width: 1200px) {
    .sm-device {
        display: block;
    }

    .lg-device {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #43597188;
        height: 100%;
        width: 0;
        overflow: hidden;
        justify-content: end;
        transition: 0.5s;
    }

        .lg-device > .lg-device-control > .turn-off {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 24px;
            left: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f5f5f9;
        }

            .lg-device > .lg-device-control > .turn-off > div {
                padding: 6px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: antiquewhite;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
            }

        .lg-device > .lg-device-control {
            height: 100%;
            width: 380px;
            flex-flow: column;
            position: relative;
            background-color: white;
            background-image: url("../Image/background-explore.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

            .lg-device > .lg-device-control > #container-explore {
                margin-right: unset;
                position: absolute;
                top: 50%;
                left: 12px;
                right: 12px;
            }

                .lg-device > .lg-device-control > #container-explore > input {
                    min-width: unset;
                }

            .lg-device > .lg-device-control > .control {
                margin-top: 36px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 12px;
                position: absolute;
                bottom: 30px;
                left: 12px;
                right: 12px;
            }

                .lg-device > .lg-device-control > .control > .btn-outline-primary {
                    background-color: white;
                }
}

@media (max-width: 400px) {
    .lg-device > .lg-device-control {
        width: 300px;
    }
}

img.logo {
    width: 150px;
    height: auto;
}

.group-banner {
    position: relative;
    display: flex;
    justify-content: center;
}

    .group-banner img.banner {
        opacity: 0.8;
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

.group-banner > .about {
    position: absolute;
    top: 250px;
    padding: 50px;
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
    background: white;
}

.group-banner > .about > .card {
    border-radius: 16px;
    margin: 0 6px;
    border: 2px inset var(--bs-primary);
}

@keyframes border-run {
    from {
        border: 2px inset var(--bs-primary);
    }

    to {
        border: 2px outset white;
    }
}

.group-banner > .about > .card .card-img-overlay {
    display: flex;
    flex-flow: column;
    justify-content: end;
}

.group-banner > .about > .card .card-text,
.group-banner > .about > .card .card-title {
    text-align: center;
}

.group-banner > .about > .card .card-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.group-banner > .about > .card .card-title {
    font-size: 2.75rem;
}

.group-banner > .about > .card .card-text:last-child {
    text-align: end;
    font-size: 2rem;
}

.group-banner > .about img {
    opacity: 0.3;
    width: 300px;
    height: 250px;
}

@media (max-width: 1200px) {
    .group-banner img.banner {
        height: 300px;
    }

    .group-banner > .about img {
        width: 240px;
        height: 200px;
    }

    .group-banner > .about {
        top: 200px;
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .group-banner img.banner {
        height: 270px;
    }

    .group-banner > .about img {
        width: 180px;
        height: 150px;
    }

    .group-banner > .about > .card .card-text {
        font-size: 1rem;
    }

    .group-banner > .about > .card .card-title {
        font-size: 2rem;
    }

    .group-banner > .about > .card .card-text:last-child {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .group-banner > .about {
        padding: 25px;
    }
}


@media (max-width: 700px) {
    .group-banner img.banner {
        height: 220px;
    }

    .group-banner > .about img {
        width: 150px;
        height: 125px;
    }

    .group-banner > .about > .card .card-text {
        font-size: 0.875rem;
    }

    .group-banner > .about > .card .card-title {
        font-size: 1.75rem;
    }

    .group-banner > .about > .card .card-text:last-child {
        font-size: 1.25rem;
    }

    .group-banner > .about {
        top: 150px;
    }
}

@media (max-width: 600px) {
    .group-banner img.banner {
        height: 200px;
    }

    .group-banner > .about img {
        width: 120px;
        height: 100px;
    }

    .group-banner > .about > .card .card-text {
        font-size: 0.75rem;
        margin-bottom: 0;
    }

    .group-banner > .about > .card .card-title {
        font-size: 1.5rem;
    }

    .group-banner > .about > .card .card-text:last-child {
        font-size: 1rem;
    }

    .group-banner > .about {
        top: 130px;
    }
}


@media (max-width: 500px) {
    .group-banner img.banner {
        height: 180px;
    }

    .group-banner > .about {
        display: none;
    }
}
/*
.branch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}*/
.branch img {
    width: 120px;
}

#forgot {
    cursor: pointer;
}

.modal-content form {
    margin-top: 24px;
}

.authorize .avt img,
.Banner > .row > .column > img {
    width: 100%;
    height: 100%;
}

.frame_1 .list img,
.frame_2 img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.user .avt img,
#requestHouseModalToggle .user .avt img,
.tab-message .user-chat .avt img,
.list-user .user a > .avt img,
.infomation-details-frame .avt img,
.tab-left > .infomation > .avt > img,
.frame > .right > .top > .user-info > .avt img,
.comment > .comment-head > .avt > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.rating i {
    color: orange;
}

i.fa-solid.fa-bell {
    color: #e5c262;
    font-size: 24px;
}

#changePWDModal .modal-content form {
    margin-top: 0;
}

.tab-message .user-chat .chat img {
    width: 80%;
    height: auto;
}
/*.carousel-item{
    background: var(--bs-gray-600);
    padding: 24px;
}*/
.Banner img {
    max-height: 500px;
}

.frame_3 .carousel-item img {
    max-width: 500px;
    height: 500px;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
}

.picture-added .picture-frame img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.select2 {
    width: 100% !important;
}

    .select2 .selection {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .select2 > .selection > span.select2-selection {
        border: unset;
    }



.picture-added {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    margin: 24px 0;
}

    .picture-added .picture-frame {
        border: 1px dashed var(--bs-gray-800);
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bs-gray-400);
        border-radius: 12px;
    }

        .picture-added .picture-frame.picture-frame-added {
            border: 1px solid var(--bs-light);
            background: #e2f0ff;
            position: relative;
        }

            .picture-added .picture-frame.picture-frame-added button {
                position: absolute;
                right: 12px;
                top: 6px;
                width: 24px;
            }

.modal .btn-close:hover,
.modal .btn-close:focus,
.modal .btn-close:active {
    opacity: 1;
    outline: none;
    transform: translate(20px, -20px);
}

.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url(''data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.modal .btn-close {
    background-color: #fff;
    border-radius: 0.5rem;
    opacity: 1;
    padding: 0.635rem;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-primary-rgb), 0.4);
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}

.picture-frame > label {
    color: var(--bs-primary);
    font-size: 24px;
    cursor: pointer;
}


.authorize {
    display: flex;
    gap: 24px;
    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

    .authorize .avt {
        height: 50px;
        width: 50px;
        border: 1px solid #00000011;
        border-radius: 50%;
        overflow: hidden;
    }

@media (max-width: 800px) {

    .authorize {
        padding-left: unset;
        padding-right: 12px;
        gap: 12px;
        font-size: 16px;
    }

        .authorize .avt {
            width: 40px;
            height: 40px;
        }
}

.dropdown-menu > .alert-frame {
    max-height: 400px;
    overflow: auto;
}

    .dropdown-menu > .alert-frame::-webkit-scrollbar {
        width: 5px;
    }

    .dropdown-menu > .alert-frame::-webkit-scrollbar-track {
        background: rgba(161, 172, 184, 0.4);
        border-radius: 10px;
    }

    .dropdown-menu > .alert-frame::-webkit-scrollbar-thumb {
        background: #1b6ec2;
        border-radius: 10px;
    }

        .dropdown-menu > .alert-frame::-webkit-scrollbar-thumb:hover {
            background: #1861ac;
        }

    .dropdown-menu > .alert-frame > .dropdown-item {
        display: flex;
        align-items: center;
        gap: 12px;
    }

        .dropdown-menu > .alert-frame > .dropdown-item > .content {
            width: 70%;
            white-space: normal;
        }
#tag_chats .dropdown-menu > .alert-frame > .dropdown-item > .content{
    width: 100%;
}

.dropdown-menu > .alert-frame > .dropdown-item > .content .time {
    display: block;
}

    .dropdown-menu > .alert-frame .status {
        color: #1861ac;
    }

        .dropdown-menu > .alert-frame .status.seen {
            display: none;
        }


.authorize {
    display: flex;
    gap: 24px;
    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

    .authorize .avt {
        height: 50px;
        width: 50px;
        border: 1px solid #00000011;
        border-radius: 50%;
        overflow: hidden;
    }

@media (max-width: 800px) {

    .authorize {
        padding-left: unset;
        padding-right: 12px;
        gap: 12px;
        font-size: 16px;
    }

        .authorize .avt {
            width: 40px;
            height: 40px;
        }
}

.dropdown-menu {
    width: 350px;
}

    .dropdown-menu > .filter,
    .dropdown-menu > .title {
        padding: 6px 12px;
    }

    .dropdown-menu > .filter {
        display: flex;
        gap: 12px;
        align-items: center;
    }

.dropdown-item .time {
    text-align: end;
}

.notification {
    position: fixed;
    background: white;
    right: 32px;
    top: 150px;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-primary-rgb), 0.1);
    min-width: 350px;
    display: none;
    transition: all 0.23s ease 0.1s;
    transform: translate(23px, -25px);
}

.house {
    display: flex;
    flex-flow: column;
    padding: 24px;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(161, 172, 184, 0.12);
}

.house-head {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(161, 172, 184, 0.4);
    justify-content: space-between;
    margin-bottom: 24px;
}

    .house-head > button {
        align-self: center;
    }

.list-house {
    max-height: 100%;
    overflow: auto;
}

.card {
    box-shadow: 0 0.125rem 0.375rem rgba(161, 172, 184, 0.2);
    margin-right: 12px;
}

    .card .row {
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card.status-2 .row,
    .card.status-1 .row,
    .card.status-0 .row {
        border-left: 5px solid var(--bs-success);
        position: relative;
    }

        .card.status-2 .row:before,
        .card.status-1 .row:before,
        .card.status-0 .row:before {
            content: "Đang hoạt động";
            padding: 12px;
            color: white;
            position: absolute;
            top: 0;
            left: 0px;
            font-size: large;
            background: var(--bs-success);
        }

    .card.status-1 .row {
        border-left: 5px solid var(--bs-warning);
    }

        .card.status-1 .row:before {
            content: "Chờ kiểm duyệt";
            background: var(--bs-warning);
        }

    .card.status-2 .row {
        border-left: 5px solid var(--bs-gray-500);
    }

        .card.status-2 .row:before {
            content: "Đang trao đổi";
            background: var(--bs-gray-500);
        }

.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-detail {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    font-size: 20px;
}

    .body-detail > .house-attr div {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin: 6px 0;
    }

    .body-detail .alert-swap span {
        font-size: 10px;
    }

    .body-detail .alert-swap {
        margin-top: 12px;
    }

        .body-detail .alert-swap label {
            cursor: pointer;
        }

#tag_chats .alert-frame .dropdown-item .content > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.dropdown-menu .tab-attr > div a {
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    color: #1b6ec2;
    border-radius: 18px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.dropdown-menu .tab-attr:hover {
    border-right: 5px solid #1b6ec2;
    border-radius: 5px;
    cursor: pointer;
}

    .dropdown-menu .tab-attr:hover div a {
        color: white;
        background: #1b6ec2;
    }

.house-result.get{
    width: 100%;
}
.house-result .house-card,
.house-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.house-result .house-card,
.house-card {
    position: relative;
}

    .house-result .house-card img,
    .house-card img {
        height: 250px;
        object-fit: cover;
    }

    .house-result .house-card .finding,
    .house-card .finding {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        color: var(--bs-success);
        font-size: x-large;
        padding: 6px;
    }

    .list-house .house-card.selected,
    .house-card:hover {
        box-shadow: 0 4px 8px 0 rgba(var(--bs-primary-rgb), 1);
    }

.list .house-card.selected {
    box-shadow: 0 4px 8px 0 rgba(var(--bs-success-rgb), 1);
}

.list .house-card:hover .item-button {
    background: var(--bs-primary);
}

.list .house-card.selected .item-button {
    background: var(--bs-success);
}

.house-img-container {
    padding: 0 16px;
    display: flex;
    flex-flow: column;
    height: calc(100% - 250px);
}

.house-img-container > p:last-child{
    margin-top: auto;
}

    .house-img-container .title {
        color: grey;
    }

        .house-img-container .title .checked {
            color: orange;
        }

    .house-img-container .attribute {
        display: flex;
        align-items: center;
    }

        .house-img-container .attribute i {
            margin-right: 24px;
            font-size: 18px;
        }

    .house-img-container .list-attribute {
        display: flex;
        gap: 12px;
    }

        .house-img-container .list-attribute .attribute i,
        .house-img-container .list-attribute .attribute span {
            margin-right: 6px;
        }

    .house-img-container .item-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: var(--bs-primary);
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin-bottom: 12px;
    }

        .house-img-container .item-button:hover {
            background-color: rgba(var(--bs-primary-rgb), 0.5);
        }

        .house-img-container .item-button .label-hide {
            display: none;
        }

        .house-img-container .item-button:hover .label-hide {
            display: inline-block;
        }

        .house-img-container .item-button:hover .label-show {
            display: none;
        }


#messageRequestModal .modal-body .house-request .house-card p {
    font-size: medium;
}

.d-flex.col-12 > .request-info img {
    height: 250px;
}

.contain-issue {
    padding: 6px;
    border-radius: 12px;
    color: white;
}

#tag_notification .dropdown-menu .alert-frame .content > div {
    display: flex;
    flex-flow: column;
}

#tag_notification .dropdown-menu.show > div.title {
    display: flex;
    justify-content: space-between;
}

#tag_notification .dropdown-menu .alert-frame .content > div > span:first-child {
    font-weight: 700;
}

#tag_notification .dropdown-menu .alert-frame .content > div > span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 21px;
    max-height: 48px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#transactionModalToggle #renderQRCode .data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    #transactionModalToggle #renderQRCode .data img {
        width: 200px;
        height: 200px;
    }

    #transactionModalToggle #renderQRCode .data div:last-child {
        text-align: center;
    }

    #transactionModalToggle #renderQRCode .data div #qr-timer {
        color: red;
        font-size: large;
        font-weight: 500;
    }

#renderQRCode {
    padding: 12px;
}

    #renderQRCode .instruction {
        margin-top: 24px;
    }

        #renderQRCode .instruction .logo {
            margin: 0 12px;
        }

#transactionModalToggle .mb-3 > label {
    font-weight: 700;
}

#transactionModalToggle .zaloPay-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 24px;
    padding: 24px;
}

    #transactionModalToggle .zaloPay-notification div i {
        font-size: 120px;
        color: var(--bs-success);
    }

#ratingModal h4,
#reportModal h4 {
    width: 100%;
    text-align: center;
}

#reportModal #file-result {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 26px;
    overflow: auto;
    padding: 12px;
    margin-left: -12px;
}

    #reportModal #file-result::-webkit-scrollbar {
        height: 4px;
    }

    #reportModal #file-result::-webkit-scrollbar-track {
        background: rgba(161, 172, 184, 0.4);
        border-radius: 10px;
        margin-left: 12px;
    }

    #reportModal #file-result::-webkit-scrollbar-thumb {
        background: #1b6ec2;
        border-radius: 10px;
    }

        #reportModal #file-result::-webkit-scrollbar-thumb:hover {
            background: #1861ac;
        }


    #reportModal #file-result .picture-frame {
        position: relative;
        width: 25%;
        min-width: 200px;
        background: white;
        box-shadow: 0 0.25rem 0.35rem #00000020;
        height: 150px;
        margin-bottom: 12px;
    }

        #reportModal #file-result .picture-frame img {
            width: 100%;
            height: 100%;
        }

        #reportModal #file-result .picture-frame button {
            position: absolute;
            right: 6px;
            top: 12px;
        }

#ratingModal .mb-3 .star-select {
    display: flex;
    gap: 12px;
}

    #ratingModal .mb-3 .star-select i {
        font-size: 24px;
        cursor: pointer;
    }

    #ratingModal .mb-3 .star-select > i.selected,
    #ratingModal .mb-3 .star-select:hover > i {
        color: var(--bs-orange);
    }

#ratingModal .mb-3 div.label {
    display: flex;
    align-items: center;
    gap: 12px;
}

#ratingModal .mb-3 label {
    font-weight: 700;
    margin-bottom: 6px;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #0e365e;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .timeline .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        margin: 0;
    }

        /* The circles on the timeline */
        .timeline .container::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -12px;
            background-color: white;
            border: 4px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

    /* Place the container to the left */
    .timeline .left {
        left: 0;
    }

    /* Place the container to the right */
    .timeline .right {
        left: 50%;
    }


        .timeline .right::before,
        .timeline .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
        }

    .timeline .left.valid::before {
        right: 30px;
        border: medium solid var(--bs-success);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent var(--bs-success);
    }

    .timeline .left.used::before {
        right: 30px;
        border: medium solid var(--bs-danger);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent var(--bs-danger);
    }

    .timeline .right.valid::before {
        left: 30px;
        border: medium solid var(--bs-success);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--bs-success) transparent transparent;
    }

    .timeline .right.used::before {
        left: 30px;
        border: medium solid var(--bs-danger);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--bs-danger) transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .timeline .right::after {
        left: -12px;
    }

    /* The actual content */
    .timeline .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        color: white;
    }

        .timeline .content.valid {
            background-color: var(--bs-success);
        }

        .timeline .content.used {
            background-color: var(--bs-danger);
        }

#infoStatisticModal .modal-header .modal-title.fs-5 {
    width: 100%;
    text-align: center;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

        /* Make sure that all arrows are pointing leftwards */
        .timeline .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

    /* Make sure all circles are at the same spot */
    .timeline .left::after,
    .timeline .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline .right {
        left: 0%;
    }
}

/* CSS styles used by custom infobox template */
.customInfobox {
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 200px;
    min-height: 150px;
    pointer-events: auto !important;
    position: relative;
    border-radius: 24px;
    border-end-start-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 16px;
}

    .customInfobox img {
        display: none;
        width: 100%;
        height: auto;
        opacity: 0.5;
        border-radius: 24px;
        border-end-start-radius: 0;
    }

    .customInfobox .content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column;
        width: 100%;
        padding: 12px;
        font-size: 13px;
    }

    .customInfobox .title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .customInfobox .price {
        margin-top: 6px;
    }

    .customInfobox .click {
        display: flex;
        justify-content: end;
    }

    .customInfobox .btn {
        border-radius: 50%;
        background: white;
        color: var(--bs-primary);
        border: unset;
    }

    .customInfobox .address {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 21px;
        max-height: 48px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }



.house-card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

    .house-card h2 p.attribute span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

.list-house .request-info > p > .user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.suggest .list img.avt {
    width: 120px;
    object-fit: cover;
    height: 120px;
    border-radius: 50%;
}

.d-flex.col-12 > .request-info .user-info .user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgba(161, 172, 184, 0.4);
}
.imgbanner {
    max-height: 420px;
}
.imgbanner img{
    height: 100%;
    object-fit: cover;
}