@model DoAnTotNghiep.ViewModels.UserInfo

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script src="~/js/Chat/connect.js" type="text/javascript"></script>

<script type="text/javascript">
    //Tóm tắt => lúc start => lấy cái connectionId
    // then => gửi /api/ConnectAllRoom
    // khi liên hệ người dùng mới => /api/Message/ContactToUser
    // 
    //Connect-userAcess tiếp nhận cái phòng mới => để gửi yêu cầu kết nối
    connection.on("@(DoAnTotNghiep.Enum.TargetSignalR.Connect() + "-" + (Model == null ? string.Empty : Model.UserAccess))", function (message) {
        connectServerWithRoom(connection.connectionId, message);
    });
    var userAccess = @Html.Raw(Json.Serialize(Model));
</script>

<div class="notification" id="toastPlacement">
    <div class="toast-header"><strong class="me-auto" id="notification-head"></strong></div>
    <div class="toast-body" id="notification-body"></div>
</div>