<form name="search" class="d-flex" id="container-explore" onload="getSuggest();">
    <input type="text" class="rounded-start rounded-0 form-control" placeholder="Bạn muốn đi đâu?" name="explore" id="explore-input" onkeypress="return event.keyCode != 13;" />
    <label class="btn btn-sm btn-primary rounded-0 rounded-end" onclick="explore()"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
</form>
