@{
    ViewData["Title"] = "Hệ thống bảo trì";
    Layout = "_LayoutEmpty";
}

<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Hệ thống bảo trì!</h2>
        <p class="mb-4 mx-2">Mong bạn quay lại sau</p>
        <div class="mt-4">
            <img src="~/Image/api/girl-doing-yoga-light.png"
                 alt="girl-doing-yoga-light"
                 width="500"
                 class="img-fluid"
                 data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
                 data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>
<!-- /Under Maintenance -->