
.user-info,
.user {
    display: flex;
    gap: 12px;
    align-items: center;
}

    .user .avt {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid rgba(161, 172, 184, 0.4);
    }

.list .card .col-md-12 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid rgba(161, 172, 184, 0.4);
    align-items: center;
    margin-bottom: 12px;
}


    .list .card .col-md-12 .status {
        font-size: 16px;
        font-weight: 500;
    }

.d-flex.col-12 {
    gap: 24px;
    justify-content: center;
}

    .d-flex.col-12 > .request-info {
        width: 40%;
    }

        .d-flex.col-12 > .request-info > p {
            font-weight: 700;
            font-size: calc(1rem + 0.2vh);
        }

        .d-flex.col-12 > .request-info:last-child > div {
            display: flex;
            gap: 12px;
            background-color: rgba(var(--bs-primary-rgb), 0.4);
            padding: 12px;
            border-radius: 8px;
            align-items: center;
        }

        .d-flex.col-12 > .request-info:last-child span {
            font-weight: 700;
            font-size: 1rem;
        }

        .d-flex.col-12 > .request-info:last-child > div.control {
            background-color: unset;
        }

.nav-link {
    cursor: pointer;
}
