@model DoAnTotNghiep.Entity.HistoryTransaction?

@{
    string status = "status-import";
    if (Model != null && Model.Status == (int) DoAnTotNghiep.Enum.StatusTransaction.USED)
    {
        status = "status-out";
    }
}

@if(Model != null) {
    <div class="container p-2 @status">
        <div class="content">
            <h5>@Model.CreatedDate.ToString("dd/MM/yyyy")</h5>
            <p>@Model.Content</p>
        </div>
    </div>
}
else{
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-2 mx-2">Lỗi không tìm thấy kết quả :(</h2>
            <p class="mb-4 mx-2">Oops! 😖 Không tìm thấy kết quả trong Website.</p>
            <div class="mt-3">
                <img src="~/Image/page-misc-error-light.png"
                 alt="page-misc-error-light"
                 width="500"
                 class="img-fluid"
                 data-app-dark-img="illustrations/page-misc-error-dark.png"
                 data-app-light-img="~/Image/page-misc-error-light.png" />
            </div>
        </div>
    </div>
}