.tab-left {
    min-width: 300px;  
    box-shadow: 0 0.25rem 0.75rem 0 rgba(161, 172, 184, 0.12);
    background: white;
    border-right: 1px solid rgba(161, 172, 184, 0.4);
    position: sticky;
}

.tab-left > .infomation {
    display: flex;
    margin: 12px 0;
    padding: 12px 12px 24px 12px;
    border-bottom: 1px solid rgba(161, 172, 184, 0.4);
    gap: 12px;
    align-items: center;        
}

.tab-left > .infomation > .avt{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgba(161, 172, 184, 0.4);
}

.tab-left > .infomation > .name{
    font-weight: 700;
    font-size: large;
    display: flex;
    flex-flow: column;
}

.tab-left > .infomation > .name > span:first-child{
    font-size: larger;
}

.tab-left > .info-frame{
    margin: 24px 0;
}

.tab-left > .info-frame > .tab-attr > div a{
    text-decoration: none;
    font-size: 18px;
    margin: 12px;
    padding: 6px 12px;
    color: #1b6ec2;
    border: 1px solid #1b6ec2;
    border-radius: 18px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.tab-left > .info-frame > .tab-attr:hover,
.tab-left > .info-frame > .tab-attr.tab-attr-active{
    border-right: 5px solid #1b6ec2;
    border-radius: 5px;
    cursor: pointer;
}
.tab-left > .info-frame > .tab-attr:hover div a,
.tab-left > .info-frame > .tab-attr.tab-attr-active div a{
    color: white;
    background: #1b6ec2;
}

.tab-left > div:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.tab-left > div:last-child a{
    width: 100%;
    color: white;
    font-size: 18px;
}

.tab-right{
    background-color: white;
    margin: 24px;
    display: flex;
    width: 100%;
}
main{
    clear: both;
    display: flex;
    position: fixed;
    height: calc(100% - 145px);
    width: 100%;
    overflow: auto;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.modal-content {
  box-shadow: 0 2px 16px 0 rgba(67, 89, 113, 0.45);
}
@media (min-width: 576px) {
    #changePWDModal .modal-dialog {
        max-width: 400px;
    }
}

.modal .modal-header {
    border-bottom: unset;
}

.modal .modal-body {
    padding: 50px 1rem;
    overflow: hidden;
}

.modal .btn-close {
  background-color: #fff;
  border-radius: 0.5rem;
  opacity: 1;
  padding: 0.635rem;
  box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
  transition: all 0.23s ease 0.1s;
  transform: translate(23px, -25px);
}
.modal .btn-close:hover, .modal .btn-close:focus, .modal .btn-close:active {
  opacity: 1;
  outline: none;
  transform: translate(20px, -20px);
}
.modal .modal-header .btn-close {
  margin-top: -32px;
}
.modal .modal-body button {
    width: 100%;
    margin-top: 12px;
}

.authorize{
    display: flex;
    gap: 24px;
    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

.authorize .avt{
    height: 50px;
    width: 50px;
    border: 1px solid #00000011;
    border-radius: 50%;
    overflow: hidden;
}
@media (max-width: 800px){

    .authorize {
        padding-left: unset;
        padding-right: 12px;
        gap: 12px;
        font-size: 16px;
    }
    .authorize  .avt{
        width: 40px;
        height: 40px;
    }
}
.dropdown-menu{
    max-width: 350px;
}
.dropdown-menu > .filter,
.dropdown-menu > .title {
    padding: 6px 12px;
}

.dropdown-menu > .filter{
    display: flex;
    gap: 12px;
    align-items: center;
}
.dropdown-menu > .alert-frame{
    max-height: 400px;
    overflow: auto;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar{
    width: 5px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-track{
    background: rgba(161, 172, 184, 0.4);
    border-radius: 10px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-thumb{
    background: #1b6ec2;
    border-radius: 10px;
}
.dropdown-menu > .alert-frame::-webkit-scrollbar-thumb:hover{
    background: #1861ac;
}
.dropdown-menu > .alert-frame > .dropdown-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.dropdown-menu > .alert-frame > .dropdown-item > .content{
    width: 70%;
    white-space: normal;
}
.dropdown-menu > .alert-frame > .dropdown-item > .content .time{
    display: block;
}
.dropdown-menu > .alert-frame .status{
    color: #1861ac;
}
.dropdown-menu > .alert-frame .status.seen{
    display: none;
}
#changePWDModal .modal-body {
    padding: 1rem;
}

@media (max-width: 850px){
    .tab-right{
        margin: 24px 0;
    }
}