.suggest{
    margin-bottom: 36px;
}
.suggest .list {
    display: flex;
    overflow: auto;
    margin-top: 24px;
    padding: 12px;
    gap: 12px;
}
/*
.request-valid > .container-lg {
    background: white;
    padding-right: 32px;
    padding-left: 32px;
}
*/
.new-request {
    background: #b7d5c9;
}
.new-request > .container-lg{
    padding: 50px;
}
.suggest .list .control{
    display: flex;
    justify-content: end;
}
.suggest > h2{
    text-align: center;
    margin-bottom: 24px;
}
.suggest .list .card-text {
    margin-bottom: 12px;
}
.suggest .list .mb-3{
    display: flex;
    gap: 12px;
    background-color: rgba(var(--bs-primary-rgb), 0.4);
    padding: 12px;
    border-radius: 8px;
    align-items: center
}
.suggest > .container-lg > .list .house-card{
    display: flex;
    min-width:750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius: 6px;
}
.suggest > .container-lg > .list .house-card img{
    width: 350px;
    height: unset;
}

.list > .img-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.list > .img-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.list > .img-container .content:hover{
    color: #00C7FF;
    cursor: pointer;
}
.container-fluid {
    margin-top: 420px;
    padding: unset;
}

/*.frame:nth-child(2n+1) {
    background-color: var(--bs-gray-100);
    margin: 24px 0;
}*/
.frame_1 {
    background-color: rgba(var(--bs-primary-rgb), 0.35);
    margin: 24px 0;
}
.frame_1,
.frame_2{
    padding: 60px 0;
}
.frame_1 > .container-lg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.frame_1 > .container-lg > .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.frame_1 > .container-lg > .description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 50px;
}

.frame_1 > .container-lg > .description > h1{
    margin-bottom: 32px;
}

@media (max-width: 1200px){
    .frame_1 > .container-lg > .description > h1 {
        font-size: calc(1.35rem + 0.8vh);
    }
    .frame_1 > .container-lg {
        grid-template-columns: 2fr 3fr;
    }
    .frame_1 > .container-lg > .description {
        padding: 0 12px;
    }
    .frame_1 > .container-lg > .list h2 {
        font-size: calc(1rem + 0.7vh);
    }
    .list > .img-container .content {
        padding: 12px;
    }
}


.suggest > .container-lg > h2,
.frame_2 > .container-lg > h2 {
    text-align: center;
    padding: 24px 0;
}


.suggest > .container-lg > div > .btn,
.frame_2 > .container-lg > div > .btn {
    width: 350px;
}

.frame_2 > .container-lg > div:last-child{
    display: flex;
    justify-content: center;
}

.frame_2 > .container-lg > .list {
    display: flex;
    gap: 24px;
    overflow: auto;
    padding: 32px;
}
.frame_2 > .container-lg{   
    position: relative;
}

.frame_2 > .container-lg > .click-next{
    position: absolute;
    right: -20px;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.suggest .list::-webkit-scrollbar,
.frame_2 > .container-lg > .list::-webkit-scrollbar {
    width: 0px;
}

.frame_2 > .container-lg > div > .btn > a {
    color: white;
    text-decoration: none;
}

.frame_2 > .container-lg > .list .house-card {
    min-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius: 6px;
}

/* Some left and right padding inside the container */
.suggest .house-img-container,
.frame_2 .house-img-container {
    padding: 0 16px;
}
.suggest .house-img-container .title,
.frame_2 .house-img-container .title {
    color: grey;
}

.suggest .house-img-container .title .checked,
.frame_2 .house-img-container .title .checked {
    color: orange;
}

.frame_2 .house-img-container .attribute{
    display: flex;
    align-items: center;    
}
.frame_2 .house-img-container .attribute i{
    margin-right: 24px;
    font-size: 18px;
}

.frame_2 .house-img-container .list-attribute{
    display: flex;
    gap: 12px;
}

.frame_2 .house-img-container .list-attribute .attribute i,
.frame_2 .house-img-container .list-attribute .attribute span{
    margin-right: 6px;
}

.frame_2 .house-img-container .item-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(var(--bs-primary-rgb), 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.frame_2 .house-img-container .item-button:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.8);
}
.frame_2 .house-img-container .item-button .label-hide {
    display: none;
}
.frame_2 .house-img-container .item-button:hover .label-hide {
    display: inline-block;
}
.frame_2 .house-img-container .item-button:hover .label-show {
    display: none;
}
.frame_2 .house-img-container .item-button a{
    color: white;
    text-decoration: none;
}

.frame_3 {
    margin-top: 32px;
    padding-top: 24px;
    padding-bottom: 48px;
    background: rgba(var(--bs-primary-rgb), 0.35);
}
.frame_3 h2{
    text-align: center;
    margin-bottom: 24px;
}
.carousel-inner {
    background: rgba(var(--bs-light-rgb), 0.1);
    padding: 48px 24px;
    border-radius: 12px;
}
.carousel-caption{
    position: static;
}



@media (max-width: 1200px) {
    .container-fluid {
        margin-top: 300px;
    }
}

@media (max-width: 800px) {
    .container-fluid {
        margin-top: 200px;
    }
}

@media (max-width: 600px) {
    .container-fluid {
        margin-top: 150px;
    }
}


@media (max-width: 500px) {
    .container-fluid {
        margin-top: 20px;
    }
}