.report-item
{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed var(--bs-dark);
}
.report-item > div:first-child{
    min-width: 200px;
    overflow: hidden;
}
.report-item > div:first-child > div{
    display: flex;
    align-items: center;
}
.report-item > div:last-child{
    width: calc(100% - 224px);
}
.content{
    margin-bottom: 24px;
}
.list-img{
    display: flex;
    overflow: auto;
    width: 100%;
    gap: 12px;
}
.list-img > div.item-img{
    min-width: 500px;
}
.img-view{
    width: 100%;
    max-height: 250px;
}